[submodule "include/eigen"]
	path = include/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "include/autodiff"]
	path = include/autodiff
	url = https://github.com/autodiff/autodiff
[submodule "include/json"]
	path = include/json
	url = https://github.com/nlohmann/json
